body{
    font-family: cursive, "Lucida Handwriting", "Brush Script MT", sans-serif;
}
.my-style{
    background-color: #999999;
    padding: 25px;
}
h2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.menu{
  text-align: center;
}
@media (min-width: 768px){
    #navbarNavAltMarkup{
        visibility: hidden;
    }
}
